.container{
    height: 500px;
    width: 500px;
    background-color: aquamarine;
    position: relative;
}

.container .item{
    border: 4px solid yellowgreen;
    display: inline-block  ;
}

.container .item:nth-child(1){
    width: 100px;
    height: 100px;
    background-color: white;
    z-index: 1;
    position: absolute;
    left: 30px;
}
.container .item:nth-child(2){
    width: 100px;
    height: 120px;
    background-color: rgb(139, 133, 133);
    z-index: 2;
    position: absolute;
    left: 10px;
}

.container .item:nth-child(3){
    width: 100px;
    height: 140px;
    background-color: rgb(15, 15, 15);
    z-index: 3;
    position: absolute;
    left: 50px;
    top: 50px;
}
